
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <title>Life Expectancy Lab</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1>Life Expectancy Lab - Maya Inal</h1>

  <div id="line_graph_all">
    {% include 'line_graph.svg' %}
  </div>

  <div>
    <form action="/year" method="GET">
      <label for="year">Choose a year:</label><br>
      <select name="year" id="year_select">
        {% for y in years %}
            {% if y == year %}
              <option value="{{y}}" selected>{{y}}</option>
            {% else %}
              <option value="{{y}}">{{y}}</option>
            {% endif %}
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    <form>

  </div>


</body>
</html>
